.error {
    border: 1px solid red;
    position: relative;

}

.errorMessage {
    position: absolute;
    color: red;
}

.avtiveFilter {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}